h1{
	font-family: sans-serif;
	font-size: 25px;
	text-align: center;
	padding: 10px;
	border: solid black;
	background: #9800A3;
	margin: 0px;
	
}

h3{
	font-family: sans-serif;
	font-size: 12px;
	background:#cc99cc;
	display: block;
	margin-left: 8px;
}
img{
	margin: 0px;
}

body{
	background: #3399cc

}

fieldset{
	background: #005CA3;
	border:	solid black;
	margin: 5px;
}

legend{
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	background: #9800A3;
	border: solid;
	padding: 5px;

}

li{
	margin: 5px;
	font-weight: bold;
	font-family: sans-serif;
}

input[type="text"]{
	margin-left: 8px;
	width: 200px;
	margin-right: 10px;

}

select{
	margin-left: 8px;
	width: 200px;
	height: 20px;
	margin-right: 30px;

}

textarea{
	border: solid black;
	background:#FCD6FF;
}
a{
	font-family: sans-serif;
	margin: 0px;

}

.focus{
	border: solid #00A398;
}

.remove{
	display:none;
}